{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
{% if request.GET.abrir_modal_os %}
<script>
  document.addEventListener("DOMContentLoaded", function () {
    const modal = new bootstrap.Modal(document.getElementById("modalRegistrarOS"));
    modal.show();
  });
</script>
{% endif %}
<head>
    <meta charset="UTF-8">
    <title>Sistema de Cálculos</title>

    <link
        href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css"
        rel="stylesheet">

    <link
        rel="stylesheet"
        href="{% static 'operacao/css/style.css' %}">
</head>

<body>

<div class="container-fluid">

    <div class="row border-bottom p-3 bg-white">

        <div class="col">

            <h4>
                Projeto:
                {% if ordem_selecionada %}
                    {{ ordem_selecionada.numero }} -
                    {{ ordem_selecionada.cliente }}
                {% else %}
                    Nenhum projeto carregado
                {% endif %}
            </h4>

            <button
                class="btn btn-primary"
                data-bs-toggle="modal"
                data-bs-target="#modalProjeto">
                Alterar Projeto
            </button>

            <button type="button" class="btn btn-success" name="novo_projeto" data-bs-toggle="modal" data-bs-target="#modalRegistrarOS">
                Novo Projeto
            </button>

        </div>

    </div>

    <div class="row border-bottom p-2 bg-light">

        <div class="col">

            <button class="btn btn-outline-primary">
                Bobinas
            </button>

            <button class="btn btn-outline-primary">
                Pintura
            </button>

            <button class="btn btn-outline-primary">
                Isolação
            </button>

        </div>

    </div>

    <div class="row">

        <div class="col-2 border-end menu-lateral bg-white">

            <div class="list-group mt-3">

                <a href="{% url 'operacao:home' %}" class="list-group-item">
                    Dados Gerais
                </a>

                <a href="{% url 'operacao:estator' %}" class="list-group-item">
                    Estator
                </a>

                <a href="{% url 'operacao:perifericos' %}" class="list-group-item">
                    Periféricos
                </a>

                <a href="{% url 'operacao:geometricos' %}" class="list-group-item">
                    Geometricos
                </a>

                <a href="{% url 'operacao:construtivos' %}" class="list-group-item">
                    Contrutivos
                </a>

                <a href="{% url 'operacao:ensaios' %}" class="list-group-item">
                    Ensaios
                </a>

            </div>

        </div>

        <div class="col p-4">

            {% block content %}
            {% endblock %}

        </div>

    </div>

</div>

<div class="modal fade" id="modalProjeto" tabindex="-1">

    <div class="modal-dialog">

        <div class="modal-content">

            <form method="get">

                <div class="modal-header">
                    <h5 class="modal-title">
                        Escolher Projeto
                    </h5>

                    <button
                        type="button"
                        class="btn-close"
                        data-bs-dismiss="modal">
                    </button>
                </div>

                <div class="modal-body">

                    <label class="form-label">
                        Ordem de Serviço
                    </label>

                    <select name="os" class="form-select">

                        {% for ordem in ordens %}

                            <option value="{{ ordem.numero }}">
                                {{ ordem.numero }} -
                                {{ ordem.cliente }}

                                {% if ordem.maquina %}
                                    - {{ ordem.maquina }}
                                {% endif %}
                            </option>

                        {% endfor %}

                    </select>

                </div>

                <div class="modal-footer">

                    <button
                        type="button"
                        class="btn btn-secondary"
                        data-bs-dismiss="modal">
                        Cancelar
                    </button>

                    <button
                        type="submit"
                        class="btn btn-primary">
                        Carregar
                    </button>

                </div>

            </form>

        </div>

    </div>

</div>

<div class="modal fade" id="modalRegistrarOS" tabindex="-1">
  <div class="modal-dialog">
    <form method="post" action="{% url 'operacao:registrar_os' %}" class="modal-content">
      {% csrf_token %}

        <div class="modal-header">
            <h5 class="modal-title">Registrar nova OS</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
        </div>
        
        <div class="modal-body">
            <div>
                {{form_registro_os.numero.label}}
            </div>
            {{form_registro_os.numero}}
            <div class="mb-3">
                <label class="form-label">Cliente</label>
                <div class="input-group">
                    {{ form_registro_os.cliente }}
                    <button type="button" class="btn btn-outline-primary"
                            data-bs-toggle="modal"
                            data-bs-target="#modalNovoCliente">
                    +
                    </button>
                </div>
            </div>
            <div class="mb-3">
                <label class="form-label">Máquina</label>
                <div class="input-group">
                    {{ form_registro_os.maquina }}
                    <button type="button" class="btn btn-outline-primary"
                            data-bs-toggle="modal"
                            data-bs-target="#modalNovaMaquina">
                    +
                    </button>
                </div>
            </div>
            <div>
                {{form_registro_os.localizacao.label}}
            </div>
            {{form_registro_os.localizacao}}
            <div>
                {{form_registro_os.tipo_servico.label}}
            </div>
            {{form_registro_os.tipo_servico}}
            </div>
            
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
            <button type="submit" name="novo_projeto" class="btn btn-success">Salvar OS</button>
        </div>
    </form>
  </div>
</div>

<div class="modal fade" id="modalNovoCliente" tabindex="-1">
  <div class="modal-dialog">
    <form method="post" action="{% url 'operacao:registrar_cliente' %}" class="modal-content">
      {% csrf_token %}
      <div class="modal-header">
        <h5 class="modal-title">Novo cliente</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>
      <div class="modal-body">
        {{ form_cliente.as_p }}
      </div>
      <div class="modal-footer">
        <button type="button"
                class="btn btn-secondary"
                data-bs-target="#modalRegistrarOS"
                data-bs-toggle="modal">
            Cancelar
        </button>
        <button type="submit" name="novo_cliente" class="btn btn-success">Salvar cliente</button>
      </div>
    </form>
  </div>
</div>

<div class="modal fade" id="modalNovaMaquina" tabindex="-1">
  <div class="modal-dialog">
    <form method="post" action="{% url 'operacao:registrar_maquina' %}" class="modal-content">
      {% csrf_token %}
      <div class="modal-header">
        <h5 class="modal-title">Nova máquina</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>
      <div class="modal-body">
        {{ registrar_maquina.as_p }}
      </div>
      
      <div class="modal-footer">
        <button type="button"
                class="btn btn-secondary"
                data-bs-target="#modalRegistrarOS"
                data-bs-toggle="modal">
            Cancelar
        </button>
        <button type="submit" name="nova_maquina" class="btn btn-success">Salvar máquina</button>
      </div>
    </form>
  </div>
</div>

<script
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js">
</script>

</body>

</html>