{% extends 'operacao/base.html' %}
{% block content %}
<div class="d-flex justify-content-between align-items-center mb-3">
    <h2 class="mb-0">Dados das Bobinas</h2>
    
    <button type="submit" form="Bobina" class="btn btn-success" name="salvar">Salvar</button>
    
</div>
<hr>

{% if not ordem_selecionada %}

    <div class="alert alert-warning">
        Nenhuma Ordem de Serviço selecionada.
    </div>

{% elif not ordem_selecionada.maquina %}

    <div class="alert alert-warning">
        Esta OS não possui máquina vinculada.
    </div>

{% elif not dados_bobina %}

    <div class="alert alert-info">
        Esta máquina ainda não possui dados de estator cadastrados.
    </div>

{% endif %}

<form id="bobina" method="post">
    {% csrf_token %}

    <h3>Bobinas</h3>

    <div class="row">
        {% for field in form %}
            <div class="col-md-4 mb-3">
                <label class="form-label">
                    {{ field.label }}
                </label>

                {{ field }}
            </div>
        {% endfor %}
    </div>

    <div class="d-flex justify-content-end mt-3">
        <button
            type="submit"
            name="restaurar"
            class="btn btn-danger m-2">
            Restaurar
        </button>
        <button
            type="submit"
            name="aplicar_estator"
            class="btn btn-success m-2">
            Aplicar
        </button>
    
</form>


{% endblock %}