{% extends 'operacao/base.html' %}

{% block content %}
<div class="d-flex justify-content-between align-items-center mb-3">
    <h2 class="mb-0">Dados da Resistênciado Isolamento</h2>
    
    <button type="submit" form="ensaios" class="btn btn-success" name="salvar">Salvar</button>
    
</div>
<hr>

{% if not ordem_selecionada %}

    <div class="alert alert-warning">
        Nenhuma Ordem de Serviço selecionada.
    </div>

{% elif not ordem_selecionada.maquina %}

    <div class="alert alert-warning">
        Esta OS não possui máquina vinculada.
    </div>

{% elif not dados_ensaios %}

    <div class="alert alert-info">
        Esta máquina ainda não possui dados de ensaios cadastrados.
    </div>

{% endif %}

<form id="ensaios" method="post">
    {% csrf_token %}

   

    <div class="row">
        {% for field in campos_parte1 %}
            <div class="col-md-3 mb-3">
                <label class="form-label">
                    {{ field.label }}
                </label>

                {{ field }}
            </div>
        {% endfor %}
    </div>

    

    <div class="row">
        <div class="col md-3">
            <label class="form-label">
                {{form.res_ohmica_t.label}}
            </label>
            {{form.res_ohmica_t}}
        </div>
        {% for field in campos_parte2 %}
            <div class="col-md-3 mb-3">
                <label class="form-label">
                    {{ field.label }}
                </label>

                {{ field }}
            </div>
        {% endfor %}
    </div>

    <div class="d-flex justify-content-end mt-3">
        <button
            type="submit"
            name="restaurar"
            class="btn btn-danger m-2">
            Restaurar
        </button>
        <button
            type="submit"
            name="aplicar_estator"
            class="btn btn-success m-2">
            Aplicar
        </button>
    </div>

</form>


{% endblock %}