{% extends 'operacao/base.html' %}

{% block content %}

{% if ordem_selecionada %}
    <div class="d-flex justify-content-between align-items-center mb-3">
        <h2>{{ ordem_selecionada.maquina }}</h2>
   
        <button type="submit" form="geometria" class="btn btn-success" name="salvar">Salvar</button>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="card w-100">

                <div class="card-body">

                    <p>
                        <strong>OS:</strong>
                        {{ ordem_selecionada.numero }}
                    </p>

                    <p>
                        <strong>Cliente:</strong>
                        {{ ordem_selecionada.cliente }}
                    </p>

                    <p>
                        <strong>Máquina:</strong>
                        {{ ordem_selecionada.maquina }}
                    </p>

                    <p>
                        <strong>Localização:</strong>
                        {{ ordem_selecionada.localizacao }}
                    </p>

                    <p>
                        <strong>Tipo de serviço:</strong>
                        {{ ordem_selecionada.tipo_servico }}
                    </p>

                </div>

            </div>
        </div>
        <div class="col-md-8">
            <div class="row">
            {% for field in form %}
                
                    <div class="col-md-3 mb-3">

                        <label class="form-label">
                            {{ field.label }}
                        </label>

                        {{ field }}

                    </div>
                
            {% endfor %}
            </div>
        </div>
    </div>
    
{% else %}

    <h2>Nenhum projeto carregado</h2>

    <p>
        Clique em <strong>Alterar Projeto</strong> para selecionar uma Ordem de Serviço.
    </p>

{% endif %}

{% endblock %}