{% extends "calculos/home.html" %}

{% block content %}

<form method="post">
    {% csrf_token %}

    <div class="row align-items-end">

        <div class="col-md-3">
            <label class="form-label">
                Condutor 1
            </label>
            
            <select name="condutor_1" class="form-select">
                
                {% for opcao in opcoes %}
                    <option value="{{ forloop.counter0 }}"
                        {% if forloop.counter0|stringformat:"s" == index_cond|stringformat:"s" %}
                            selected
                        {% endif %}
                    >
                        {{ opcao.nome }}
                    </option>
                {% endfor %}
            </select>
        </div>

        <div class="col-md-2">
            <label class="form-label">
                Isolação Entre Espiras
            </label>
            
            <select name="iso_espiras" class="form-select">

                <option value="-1"
                {% if index_iso == "" %}
                    selected
                {% endif %}
                >
                    Nenhum
                </option>

                {% for opcao in opcoes_iso %}
                    <option value="{{ forloop.counter0 }}"
                        {% if forloop.counter0|stringformat:"s" == index_iso|stringformat:"s" %}
                            selected
                        {% endif %}
                    >
                        {{ opcao.nome }}
                    </option>
                {% endfor %}

            </select>
        </div>

        <div class="col-md-2">
            <label class="form-label">
                Folga na Ranhura (mm)
            </label>

            <input
                type="number"
                name="folga_ran"
                class="form-control"
                step="0.1"
                min="0"
                value="{{ folga_ran }}">
        </div>

        <div class="col-md-2">
            <label class="form-label">
                Coeficiente de Segurança
            </label>

            <input
                type="number"
                name="coeficiente_seguranca"
                class="form-control"
                step="0.1"
                min="1"
                value="{{ coeficiente_seguranca }}">
        </div>

        <div class="col-md-2">
            <button
                type="submit"
                name="acao"
                value="atualizar_sessao"
                class="btn btn-warning w-100">
                Aplicar
            </button>
        </div>

    </div>
</form>

    <div class="card mt-4">

        <div class="card-header">
            <strong>Resultados Técnicos do Condutor {{ escolhido.nome }}</strong>
        </div>

        <div class="card-body">

            {% if resultados %}

                <div class="row">

                    {% for campo, valor in resultados.items %}

                        <div class="col-md-3 mb-3">

                            <div class="border rounded p-2 h-100">

                                <small class="text-muted d-block">
                                    {{ campo }}
                                </small>
                                
                                <strong>
                                    
                                    {{ valor.0|floatformat:2 }}
                                    {{ valor.1 }}

                                </strong>
                                

                            </div>

                        </div>

                    {% endfor %}

                </div>

            {% else %}

                <div class="alert alert-secondary mb-0">
                    O condutor selecionado não possui dados cadastrados
                </div>

            {% endif %}

        </div>

    </div>

    <div class="card mt-4">

        <div class="card-header">
            <strong>Dados Técnicos do Condutor {{ escolhido.nome }}</strong>
        </div>

        <div class="card-body">

            {% if escolhido.parametros %}

                <div class="row">

                    {% for campo, valor in escolhido.parametros.items %}

                        <div class="col-md-4 mb-3">

                            <div class="border rounded p-2 h-100">

                                <small class="text-muted d-block">
                                    {{ campo }}
                                </small>

                                <strong>
                                    {% if valor.unidade %}
                                        {{ valor.valor|floatformat:2 }}
                                    {% else %}
                                        {{ valor.valor }}
                                    {% endif %}

                                    {% if valor.unidade %}
                                        {{ valor.unidade }}
                                    {% endif %}
                                </strong>

                            </div>

                        </div>

                    {% endfor %}

                </div>

            {% else %}

                <div class="alert alert-secondary mb-0">
                    Nenhum dado encontrado.
                </div>

            {% endif %}

        </div>
    </div>
    <div class="card mt-4">
        <div class="card-header">
            <strong>Dados Técnicos do Tecido Isolante {{ iso_escolhido.nome }}</strong>
        </div>

        <div class="card-body">

            {% if iso_escolhido.parametros %}

                <div class="row">

                    {% for campo, valor in iso_escolhido.parametros.items %}

                        <div class="col-md-4 mb-3">

                            <div class="border rounded p-2 h-100">

                                <small class="text-muted d-block">
                                    {{ campo }}
                                </small>

                                <strong>
                                    {% if valor.unidade %}
                                        {{ valor.valor|floatformat:2 }}
                                    {% else %}
                                        {{ valor.valor }}
                                    {% endif %}

                                    {% if valor.unidade %}
                                        {{ valor.unidade }}
                                    {% endif %}
                                </strong>

                            </div>

                        </div>

                    {% endfor %}

                </div>

            {% else %}

                <div class="alert alert-secondary mb-0">
                    Nenhum dado encontrado.
                </div>

            {% endif %}

        </div>
    </div>



{% endblock %}